TAQ_DEBUG=false
TAQ_SECRET_KEY=change-me
TAQ_DB_ENGINE=sqlite
TAQ_DB_HOST=localhost
TAQ_DB_PORT=5432
TAQ_DB_USER=taq
TAQ_DB_PASSWORD=taq
TAQ_DB_NAME=taq
TAQ_LLM_PROVIDER=ollama
TAQ_LLM_MODEL=mistral:7b
TAQ_LLM_BASE_URL=http://localhost:11434
TAQ_LLM_API_KEY=
TAQ_LOG_LEVEL=INFO
